# =====================
# Environment variables
# =====================
.env
.env.*

# =====================
# Python (backend)
# =====================
__pycache__/
*.py[cod]
.venv/
venv/

# =====================
# Node / frontend
# =====================
node_modules/
dist/
build/
.out/
.next/

# =====================
# Logs
# =====================
*.log

# =====================
# OS / Editor junk
# =====================
.DS_Store
Thumbs.db
.vscode/
.idea/