# Supabase
# Project URL: Settings -> General -> Project ID, then format as https://<project-id>.supabase.co
SUPABASE_URL=https://ypdrbtvcзltjlpddtibv.supabase.co

# Secret API Key: Settings -> API Keys -> Secret keys -> default
SUPABASE_SERVICE_ROLE_KEY=sb_secret_BhZ6U...